.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding: 10px 15px;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__color-wrapper {
  color: #2196f3;
}

.logo--white-color {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 90px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list__item {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-list__link--active {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .navigation-list__link--active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
  }
}

.contacts-list__item {
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-list__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
}

.contacts-list__icon {
  margin-right: 10px;
  fill: #757575;
}

.contacts-list__link:hover .contacts-list__icon,
.contacts-list__link:focus .contacts-list__icon {
  fill: #2196f3;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: #212121;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  max-width: 480px;
  padding: 48px 40px;
  background-color: #2196f3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 1;
}

@media screen and (max-width: 400px) {
  .mobile-menu {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero {
  background-color: #2f303a;
}

.hero__container {
  text-align: center;
  padding: 120px 60px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 250px;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 767px;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/mobile/hero-bg-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/mobile/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 1199px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/tablet/hero-bg-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/tablet/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/desktop/hero-bg-desktop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero/desktop/hero-bg-desktop@2x.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  margin: 0 auto;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #0c79d3;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

@media screen and (max-width: 1199px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #eeecf0;
  border-radius: 4px;
}

.features__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.features__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.production {
  display: none;
}

@media screen and (min-width: 1200px) {
  .production {
    display: block;
    padding-top: 47px;
  }
}

.production__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.production__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.production__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.team {
  background-color: #eeecf0;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team__description {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.team__card-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .adress-list__wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-list__wrapper {
    margin-right: 80px;
  }
}

.address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.adress__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.adress__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link--active {
  color: #ffffff;
}

.adress__link:hover, .adress__link:focus {
  color: #2196f3;
}

.footer__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .form-signup {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .form-signup {
    margin-left: auto;
  }
}

.form-signup__subtitle {
  display: block;
}

.form-signup__input {
  padding: 15px 16px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: #2f303a;
  width: 100%;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-signup__input:hover, .form-signup__input:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-signup__input {
    display: block;
    width: 450px;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form-signup__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.form-signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-signup__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-signup__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.messenger-list {
  display: flex;
  justify-content: center;
}

.messenger-list__item:not(:last-child) {
  margin-right: 10px;
}

.messenger-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.messenger-list__link:hover, .messenger-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.messenger-list__link--footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.messenger-list__link--footer:hover, .messenger-list__link--footer:focus {
  background-color: #2196f3;
}

.filters__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
  }
}

.filters__item {
  margin-bottom: 15px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #eeecf0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .cards__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.cards__item {
  display: flex;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cards__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.cards__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.cards__thumb {
  position: relative;
  overflow: hidden;
}

.cards__overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #eeecf0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.cards__item:hover .cards__overlay,
.cards__item:focus .cards__overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.cards__footer {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eeecf0;
  border-left: 1px solid #eeecf0;
  border-right: 1px solid #eeecf0;
}

.cards__subtitle {
  margin-bottom: 4px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 117, 36, 0.5);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 300px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-form {
  width: 400px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__label {
  position: relative;
  display: flex;
  margin-top: 20px;
}

.modal-form__input {
  width: 100%;
  padding: 10px 20px;
  padding-left: 40px;
}

.modal-form__text {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background-color: teal;
}

.modal-form__input:focus {
  border-color: red;
}

.modal-form__input:focus ~ .modal-form__text {
  color: #046cc2;
}

.modal-form__input:focus ~ .modal-form__icon {
  background-color: #046cc2;
}

.modal-form__label:focus-within > .modal-form__text,
.modal-form__input:not(:placeholder-shown) ~ .modal-form__text {
  transform: translateY(-50px);
}

/* ====== checkbox ====== */
.modal-from__label-checkbox {
  display: flex;
}

.modal-from__input-checkbox {
  appearance: none;
}

.modal-from__icon-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: teal;
  border: 2px solid #2a2a2a;
}

.modal-from__input-checkbox:checked + .modal-from__icon-checkbox {
  background-color: #046cc2;
  border: 2px solid #046cc2;
  border-radius: 4px;
  background-image: url("../../");
  background-size: contain;
  background-origin: border-box;
}

.modal-from__input-checkbox:checked ~ .modal-from__text-checkbox {
  transform: translateX(20px);
  /* transform: scale(1.2) translateX(20px); */
}
/*# sourceMappingURL=main.css.map */