$accentColor: #2196f3;
$hoverAccentColor: #0f84e4;

$primaryTextColor: #757575;
$primaryWhiteColor: #ffffff;
$secondaryTextColor: #212121;

$primaryBgc: #2f303a;
$secondaryBgc: rgba(255, 255, 255, 0.1);

$mainFont: Roboto, sans-serif;

$animation: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animationBgc: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

$shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
  0px 1px 3px rgba(0, 0, 0, 0.16);
