.button {
  margin: 0 auto;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;

  padding: 10px 32px;
  border-radius: 4px;
  background-color: $accentColor;
  color: $primaryWhiteColor;

  transition: $animation;

  &:hover,
  &:focus {
    background-color: $hoverAccentColor;
  }
}
