.logo {
  display: block;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $secondaryTextColor;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &__color-wrapper {
    color: $accentColor;
  }

  &--white-color {
    color: $primaryWhiteColor;
  }
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 90px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
