.footer {
  background-color: $primaryBgc;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__wrapper {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.adress-list__wrapper {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 80px;
  }
}

.address {
  font-style: normal;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.adress__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.adress__item {
  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 10px;
    }
  }
}

.adress__link {
  color: $primaryTextColor;
  transition: $animation;

  &--active {
    color: $primaryWhiteColor;
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer__subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $primaryWhiteColor;
}

.form-signup {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }

  &__subtitle {
    display: block;
  }
}

.form-signup__input {
  padding: 15px 16px;
  border: 2px solid $secondaryBgc;
  border-radius: 4px;
  background-color: $primaryBgc;

  width: 100%;
  margin-bottom: 20px;
  color: $primaryWhiteColor;

  &:hover,
  &:focus {
    border-color: $accentColor;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;

    width: 450px;
    margin: 0 auto 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.form-signup__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $primaryTextColor;
}

.form-signup__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-signup__icon {
  margin-left: 10px;
  fill: $primaryWhiteColor;
}
