.hero {
  background-color: $primaryBgc;
}

.hero__container {
  text-align: center;
  padding: 120px 60px;

  @media screen and (min-width: 768px) {
    padding-left: 200px;
    padding-right: 200px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 250px;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 767px;

  background-image: $linearGradient,
    url('../img/hero/mobile/hero-bg-mobile.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: $linearGradient,
      url('../img/hero/mobile/hero-bg-mobile@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;

    background-image: $linearGradient,
      url('../img/hero/tablet/hero-bg-tablet.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: $linearGradient,
      url('../img/hero/tablet/hero-bg-tablet@2x.jpg');
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;

    background-image: $linearGradient,
      url('../img/hero/desktop/hero-bg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: $linearGradient,
        url('../img/hero/desktop/hero-bg-desktop@2x.jpg');
    }
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primaryWhiteColor;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
